@use '../../../abstracts/colors' as *;

.btn-text {
  border: none;
  border-color: transparent;
  font-weight: inherit;
  background: $color-white;

  display: inline-block;
  color: $color-primary;
  fill: $color-primary;
  border-bottom: 1px solid $color-primary;
  cursor: pointer;
  transition: 0.2s background, 0.2s color, 0.2s border-color, 0.2s fill;

  &:hover {
    color: $color-white;
    fill: $color-white;
    border-color: $color-white;
    background: $color-primary;
  }

  &--visit {
    border-bottom: none;
    align-items: center;
    display: inline-flex;
    // font-size: 2.4rem;
    // padding: 0.4rem 1.6rem 0.4rem 0.8rem;
    padding: 0.2rem 1.2rem 0.2rem 0.4rem;
    transition: 0.4s background, 0.2s color;

    & > * {
      // height: 2rem;
      // transform: translateY(1px);
      height: 1.6rem;
      padding-left: 0.8rem;
      transform: translateY(2px);
      transition: 0.2s transform;
    }

    &:hover > * {
      transform: translate(4px, 1px);
    }
  }
}
