@use "../../../abstracts/colors" as *;
@use "../../../abstracts/mixins" as *;

.appointment-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.6rem;
  row-gap: 0.8rem;
  padding: 0.8rem 1.6rem 1.2rem;
  // background: $color-gray-light-3;
  background: $color-white;

  &__avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    $size: 2.6rem;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $color-black;
    margin-top: 0.2rem;
  }

  &__name {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
  }

  &__header-line {
    grid-column: 1 / 5;
    grid-row: 1 / 2;

    align-self: end;
    width: 100%;
    height: 1px;
    background: $color-gray;

    @include respond(phone) {
      grid-column: 1 / -1;
    }
  }

  &__service {
    grid-column: 1 / -1;
    grid-row: 2 / 5;

    @include respond(phone) {
      margin-bottom: 1.2rem;
    }
  }

  &__attributes {
    grid-column: 1 / -1;
    display: flex;
    border-bottom: 1px solid $color-gray;
    border-top: 1px solid $color-gray;
    justify-content: space-between;
  }

  &__attribute {
    font-weight: 700;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    grid-column: 11 / -1;

    & > * {
      height: 1.2rem;
      margin-right: 0.4rem;
    }

    padding-bottom: 0.8rem;
    border-bottom: 1px solid $color-gray;

    @include respond(phone) {
      padding-top: 0.8rem;
      border-bottom: none;
    }
  }

  &__date {
    grid-row: 1 / 2;
  }

  &__time {
    grid-row: 2 / 3;
  }

  &__price {
    grid-row: 3 / 4;
  }

  &__buttons {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    display: flex;
    align-items: center;

    @include respond(phone) {
      margin-top: 0.8rem;
      & > * {
        flex: 1;
      }
    }
  }

  &__no-review {
    font-weight: 500;
  }
}
