@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.appointment-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.6rem;
  row-gap: 0.8rem;
  padding: 1.2rem 0 0;
  background: $color-white;
  position: relative;
  overflow: visible;

  & > *:last-child {
    padding: 1.2rem;
    background: $color-gray-light-3;
  }

  @include respond(phone) {
    padding-top: 0.8rem;
    margin-top: 2rem;
  }

  &__new {
    position: absolute;
    color: $color-primary;
    font-weight: 700;
    font-size: 1.6rem;
    top: 0;
    right: 0;
    transform: translateY(-125%);
  }

  &__header {
    display: flex;
    border-bottom: 2px solid $color-gray-light-2;
    padding-left: 1.2rem;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    justify-self: flex-start;
    align-items: center;
    padding-bottom: 0.8rem;
    cursor: pointer;
  }

  &__avatar {
    $size: 3.6rem;
    width: $size;
    height: $size;
    position: relative;
  }

  &__image {
    border-radius: 50%;
  }

  &__name {
    margin-left: 1.2rem;
    color: $color-gray-dark-3;
  }

  &__service {
    grid-column: 1 / -1;
    grid-row: 2 / 5;
    margin-top: 0.4rem;
    padding-left: 1.2rem;
    font-weight: 400;
    min-height: 2rem;

    @include respond(phone) {
      min-height: 6.8rem;
      margin-bottom: 0.8rem;
      margin-top: 0.4rem;
    }
  }

  &__attributes {
    grid-column: 1 / -1;
    display: flex;
    padding: 0 1.2rem;
    justify-content: space-between;
  }

  &__attribute {
    font-weight: 700;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    grid-column: 10 / -1;

    color: $color-gray-dark-2;
    fill: $color-gray-dark-2;

    & > * {
      height: 1.6rem;
      margin-right: 0.8rem;
    }

    padding-bottom: 0.8rem;
    margin-left: 1.6rem;
    border-bottom: 2px solid $color-gray-light-2;

    @include respond(phone) {
      // padding: 1.2rem 0;
      padding-bottom: 0.4rem;
      border-bottom: none;
      margin-left: 0;
    }
  }

  &__status {
    grid-column: 7 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.2rem;
    font-weight: 700;
    color: $color-primary;
    padding-bottom: 1.2rem;

    &--confirmed {
      color: $color-success;
    }
  }

  &__date {
    grid-row: 1 / 2;
  }

  &__time {
    grid-row: 2 / 3;

    @include respond(phone) {
      transform: translateX(-18%);
    }
  }

  &__price {
    grid-row: 3 / 4;
  }

  &__buttons {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    display: flex;
    align-items: center;
    padding: 0 1.2rem 1.2rem;

    @include respond(phone) {
      padding: 1.2rem;
      background: $color-gray-light-3;

      & > * {
        flex: 1;
      }
    }
  }

  &__no-review {
    font-weight: 500;

    &--fail {
      color: $color-fail;
    }
  }
}
