@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.appointment-types {
  padding: 1.6rem;
  margin-top: 3.2rem;
  background: $color-white;
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;

  & > *:not(:last-child) {
    margin-right: 1.6rem;
  }

  @include respond(phone) {
    overflow-x: auto;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-top: 2.4rem;

    & > *:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  &__type {
    position: relative;
    padding: 0.4rem 0.8rem;
    transition: 0.2s background;
    border-radius: 1rem;
    cursor: pointer;

    &--notification::after {
      right: -0.2rem;
      top: 0;
      content: '';
      display: block;
      position: absolute;
      $diameter: 0.6rem;
      width: $diameter;
      height: $diameter;
      border-radius: 50%;
      background: $color-primary;
    }

    &:hover {
      background: $color-gray-light-1;

      @include respond(phone) {
        background: none;
      }
    }

    &--waiting {
      background: $color-primary;
      color: $color-white;
      pointer-events: none;
      cursor: default;

      &:hover {
        background: $color-primary;
      }
    }

    &--confirmed {
      background: $color-success;
      color: $color-white;
      pointer-events: none;
      cursor: default;

      &:hover {
        background: $color-success;
      }
    }

    &--unsuitable {
      background: $color-fail;
      color: $color-white;
      pointer-events: none;
      cursor: default;

      &:hover {
        background: $color-fail;
      }
    }

    &--history {
      background: $color-gray;
      color: $color-gray-dark-3;
      pointer-events: none;
      cursor: default;

      &:hover {
        background: $color-gray;
      }
    }
  }
}
