@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.appointment-controller {
  padding: 1.2rem 2.4rem 1.6rem;
  // background: $color-gray-light-3;
  background: $color-white;
  text-align: center;

  font-size: 2rem;
  margin-top: 3.2rem;

  & > *:not(:last-child) {
    margin-right: 2.4rem;
  }

  @include respond(phone) {
    margin-top: 0;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 0.4rem;

    & > *:not(:last-child) {
      margin-right: 1.6rem;
    }
  }

  &__item {
    position: relative;
    color: $color-gray-light-1;
    border-bottom: 2px solid transparent;
    transition: 0.2s border-bottom;
    cursor: pointer;

    &:hover {
      // color: $color-gray;
      border-bottom: 2px solid $color-gray-light-1;
    }

    &--active {
      border-bottom: 2px solid $color-primary-dark-2;
      color: $color-primary-dark-2;
      cursor: default;
      pointer-events: none;

      &:hover {
        border-bottom: 2px solid $color-primary-dark-2;
      }
    }

    &--notification::after {
      right: -0.8rem;
      top: -0.2rem;
      content: '';
      display: block;
      position: absolute;
      $diameter: 0.6rem;
      width: $diameter;
      height: $diameter;
      border-radius: 50%;
      background: $color-primary;
    }
  }
}
