@use "../../../abstracts/colors" as *;
@use "../../../abstracts/mixins" as *;

.appointment-types {
  padding: 1.6rem 0;
  // background: $color-gray-light-3;
  background: $color-white;
  text-align: center;

  font-size: 1.6rem;

  & > *:not(:last-child) {
    margin-right: 1.6rem;
  }

  @include respond(phone) {
    padding: 1.6rem 1.2rem;
    overflow-x: auto;
    // padding: 1.2rem 3.2rem 1.6rem;
    // text-align: left;
    // color: $color-primary;
  }

  &__type {
    padding: 0.4rem 0.8rem;
    transition: 0.2s background;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      background: $color-gray-light-1;

      @include respond(phone) {
        background: none;
      }
    }

    &--waiting {
      background: $color-primary;
      color: $color-white;
      pointer-events: none;
      cursor: default;

      &:hover {
        background: $color-primary;
      }
    }

    &--confirmed {
      background: $color-success;
      color: $color-white;
      pointer-events: none;
      cursor: default;

      &:hover {
        background: $color-success;
      }
    }

    &--unsuitable {
      background: $color-fail;
      color: $color-white;
      pointer-events: none;
      cursor: default;

      &:hover {
        background: $color-fail;
      }
    }

    &--history {
      background: $color-gray;
      color: $color-gray-dark-3;
      pointer-events: none;
      cursor: default;

      &:hover {
        background: $color-gray;
      }
    }
  }
}
