@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.edit-review {
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem 2.4rem;
  width: 42rem;
  background: $color-white;

  @include respond(phone) {
    padding-top: 2.4rem;
    height: 100%;
    width: 36rem;
  }

  &__form {
    display: contents;
  }

  &__star {
    color: $color-gray-light-1;
    cursor: pointer;
    transition: 0.2s color, 0.2s transform;

    &:hover {
      color: $color-gold;
      transform: scale(1.2);

      & ~ .edit-review__star {
        color: $color-gold;
      }
    }

    &--active {
      color: $color-gold;
      transform: scale(1.2);

      & ~ .edit-review__star {
        color: $color-gold;
      }
    }
  }

  &__stars {
    // grid-column: 2 / 12;
    align-self: center;
    direction: rtl;
  }

  &__textarea {
    $width: 100%;
    $height: 13.6rem;

    font-size: 1.6rem;
    padding: 0.8rem;

    min-width: $width;
    max-width: $width;

    min-height: $height;
  }

  &__counter {
    font-size: 1.2rem;
    color: $color-gray;
    align-self: flex-end;
  }
}
