@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.no-appointments {
  padding: 6.4rem 0;
  background: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__svg {
    position: relative;
    height: 22.5rem;
    width: 30rem;
  }

  @include respond(phone) {
    padding: 3.2rem 0 4rem;

    &__svg {
      height: 20rem;
      width: 26.7rem;
    }
  }

  &__text {
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-top: 2.8rem;
    color: $color-primary;
  }
}
