@use "../../abstracts/colors" as *;

.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    backface-visibility: hidden;
    cursor: pointer;
    border: none;
    border-color: transparent;
    outline: none;
    background-color: transparent;
    letter-spacing: 0.1px;
    padding: 1.2rem 2.4rem;
    border-radius: 0.3rem;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s background, 0.2s color;
  }

  &--primary {
    color: $color-white;
    background: $color-primary;
  }

  &--secondary {
    border: 1px solid $color-primary;
    color: $color-primary;
    transition: 0.2s color, 0.2s background;

    &:hover {
      color: $color-white;
      background: $color-primary;
    }
  }

  &--gray {
    border: 1px solid $color-gray-dark-1;
    color: $color-gray-dark-1;

    &:hover {
      color: $color-white;
      background: $color-gray-dark-1;
    }
  }

  &--flat {
    padding: 0.8rem 2.4rem;
  }

  &--success {
    color: $color-white;
    background: $color-success;
    border: 1px solid $color-success;
  }

  &--fail {
    border: 1px solid $color-fail;
    color: $color-fail;

    &:hover {
      background: $color-fail;
      color: $color-white;
    }
  }

  &--fail-solid {
    // border: 1px solid $color-fail;
    color: $color-white;
    background: $color-fail;
  }

  &--edit {
    & > * {
      height: 1.6rem; // (1.2)
    }

    display: flex;
    justify-content: center;
    align-items: center;

    $size: 3.2rem; // (2.4)
    height: $size;
    width: $size;

    border: 1px solid $color-gray-light-1;
    color: $color-gray-light-1;

    border-radius: 50%;

    transition: 0.2s color, 0.2s border, 0.2s box-shadow;
    cursor: pointer;

    &:hover {
      border: 1px solid $color-primary;
      color: $color-primary;
      box-shadow: 0 0 5px rgba($color-black, 0.25);
    }
  }

  &--hover-fail {
    &:hover {
      color: $color-fail;
      border-color: $color-fail;
    }
  }

  &--hover-success {
    &:hover {
      color: $color-success;
      border-color: $color-success;
    }
  }

  &--upload {
    position: relative;
    cursor: pointer;
    ::-webkit-file-upload-button {
      cursor: pointer;
    }

    & > * {
      height: 100%;
      width: 100%;
      opacity: 0;
      top: 0;
      position: absolute;
      cursor: pointer;
    }
  }

  &--spinner {
    &::after {
      position: absolute;
      top: -36%;
      right: -12%;
      display: block;
      content: '';
      border: 3px solid $color-primary;
      border-left-color: transparent;
      border-bottom-color: transparent;
      background-image: none;
      font-size: 0;
      width: 1.2rem;
      height: 1.2rem;
      padding: 0;
      border-radius: 50%;
      -webkit-appearance: none;
      animation: spin 1s linear infinite;
      cursor: default;
    }
  }

  &--submitted {
    background-color: rgba($color-primary, 0.8);
    pointer-events: none;
  }

  &--disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
