.button-marker {
  background: #ede9ef;
  border-radius: 50%;
  height: 2.6rem;
  width: 2.6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // transform: translate(5%, -40%);
  transform: translate(20%, -45%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.2s box-shadow;

  &__marker {
    height: 1.5rem;
    color: #666;
    transition: 0.2s color;
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .button-marker__marker {
      color: #7c3ba8;
    }
  }
}
