@use '../../abstracts/colors' as *;
@use '../../abstracts/mixins' as *;

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color-black, 0.7);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  &__close {
    position: absolute;
    top: 3rem;
    right: 4rem;
    color: $color-white;
    height: 4rem;
    cursor: pointer;
  }

  &__background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  @include respond(phone) {
    padding-top: 6.8rem;

    &__close {
      height: 3rem;

      top: 1.6rem;
      right: 1.6rem;
    }

    &--mobile {
      padding-bottom: 5rem;
      background: $color-white;
      align-items: flex-start;
      bottom: -5.6rem; // mobile nav
    }

    &--transparent {
      background: rgba($color-black, 0.7);
    }

    &__back-bar {
      position: fixed;
      width: 100%;
      right: 0;
      top: 0;

      padding: 0.4rem;
      background: $color-white;

      z-index: 20;

      padding: 2.4rem 0;

      border-radius: 0.2rem;

      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.back-bar {
  &__main {
    padding-left: 2.4rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    color: $color-primary-dark-2;
    align-items: center;
    font-size: 2rem;

    &--responsive {
      max-width: 100%;
      padding-left: 2rem;
    }
  }

  &__icon {
    height: 2rem;
  }
}
