@use "../../abstracts/colors" as *;

.spinner {
  // &__loader {
  border: 4px solid #7b0ec6;
  border-left-color: transparent;
  border-bottom-color: transparent;
  background-image: none;
  font-size: 0;
  width: 5rem;
  height: 5rem;
  padding: 0;
  border-radius: 50%;
  -webkit-appearance: none;
  animation: spin 1s linear infinite;
  cursor: default;

  &--tiny {
    $size: 1.5rem;
    width: $size;
    height: $size;
  }

  // &--edge {
  //   position: absolute;
  //   top: -40%;
  //   right: -7%;
  // }

  // &--btn-mini {
  //   position: absolute;
  //   top: -47%;
  //   right: -12%;
  // }

  // grid center
  // &--gc {
  //   justify-self: center;
  //   align-self: center;
  // }

  &--absolute {
    animation: spinWithAbsolutePosition 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinWithAbsolutePosition {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
