@use '../../../abstracts/mixins' as *;

.settings {
  &__heading {
    grid-column: 4 / 10;
  }

  &__setting-card {
    grid-column: 3 / 11;
    margin-top: 3.2rem;

    @include respond(tab-port) {
      grid-column: 2 / 12;
    }

    @include respond(phone) {
      margin-top: 2.4rem;
      grid-column: 1 / -1;
    }
  }
}
