@use '../../../../../../abstracts/colors' as *;
@use '../../../../../../abstracts/mixins' as *;

.booking-service {
  overflow: unset;

  &:hover .booking-service__arrow {
    opacity: 1;
    transform: translate(1rem, -50%);

    @include respond(tab-port) {
      opacity: 0;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: -5.2rem; // - arrow size(3.2) - margin(2)
    transform: translateY(-50%);
    opacity: 0;

    & > * {
      height: 1.4rem;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    $size: 3.2rem;
    height: $size;
    width: $size;

    border: 1px solid $color-primary;
    fill: $color-primary;
    box-shadow: 0 0 5px rgba($color-black, 0.25);

    border-radius: 50%;

    transition: 0.2s opacity, 0.2s transform;
  }
}
