@use "../../../../../../abstracts/colors" as *;

.booking-service-parameter {
  overflow: unset;

  &--hover {
    &:hover {
      //important box-shadow && 0.1s!
      box-shadow: 0 0 0 1px $color-primary;

      .service-parameter__icon {
        color: $color-primary;
      }
    }
  }
}
