@use '../../../../../../abstracts/colors' as *;
@use '../../../../../../abstracts/mixins' as *;

.booking-services {
  @include card;

  position: relative;
  // width: 76.8rem;
  height: 64.8rem;
  width: 62.8rem;
  overflow-y: auto;

  background: $color-white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: min-content min-content minmax(min-content, 1fr);
  grid-auto-rows: min-content;
  column-gap: 1.6rem;

  &--update {
    width: 54.8rem;
  }

  &__heading {
    grid-row: unset;
    grid-column: 3 / 11;

    text-transform: uppercase;
    // color: #aca9ae;
    color: #502f66;
    font-weight: 500;

    &::after {
      height: 2px;
      background: #e8e2ed;
    }
  }

  &__container {
    grid-column: 3 / 11;
  }

  @include respond(tab-port) {
    width: 56.8rem;

    &__container,
    &__heading {
      // grid-column: 2 / 12;
    }
  }

  @include respond(phone) {
    &__container {
      grid-column: 1 / -1;
    }
  }

  @include respond(phone) {
    padding: 0 1.2rem 1.6rem;
    width: 100%;
    overflow-y: unset;
    box-shadow: none;
  }

  &__btn-back {
    height: 4.4rem;
    grid-column: 1 / -1;
    background: rgba($color-gray-light-1, 0.1);

    padding: 0 2.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
    transition: 0.2s background;
    color: $color-gray-dark-2;

    font-weight: 700;
    color: #b5b1b8;
    fill: #b5b1b8;

    letter-spacing: 0.6px;
    line-height: 0;
    transition: 0.2s color, 0.2s fill;

    // margin-bottom: 0.8rem;

    &:hover {
      & > * {
        fill: $color-primary-dark-1;
      }

      color: $color-primary-dark-1;
      background: rgba($color-gray, 0.2);
    }

    & > * {
      color: $color-gray;
      height: 1.6rem;
      transition: 0.2s color, 0.2s fill;
      margin-right: 1.6rem;
    }
  }

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 4.8rem;
    grid-column: 1 / -1;
    // grid-row: 3 / 4;
  }
}
