@use '../../../../../../abstracts/colors' as *;

.services-switcher {
  grid-column: 4 / 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $color-gray-light-1;
  font-weight: 500;

  &__item {
    padding: 0.4rem 0;
    margin: 0 0.4rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s color, 0.2s border-bottom-color;

    &:hover {
      color: $color-primary;
      border-bottom-color: $color-primary;
    }

    &--active {
      font-weight: 400;
      cursor: default;
      padding: 0.4rem 1.2rem;
      border-radius: 1.6rem;
      background: $color-primary;
      color: $color-white;
      pointer-events: none;
      border-bottom: none;
    }
  }
}
