@use "../abstracts/colors" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px

  -webkit-text-size-adjust: none;
}

body {
  position: relative;
  box-sizing: border-box;
  background: $color-background;

  font-family: 'Roboto', sans-serif;
  color: #444;
  // font-weight: 300;
  font-size: 1.7rem;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 4rem 0;
}

// to layout
.container {
  min-height: 100vh;
  max-width: 87vw;
  margin: 5rem auto;
  display: grid;
  grid-template-columns:
    1fr [navbar-start] minmax(max-content, 15vw) [navbar-end] 1fr [content-start] minmax(min-content, 56vw)
    [content-end] 1fr;
  grid-template-rows: repeat(2, min-content);
}
