@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.heading {
  font-size: 3.2rem;
  font-weight: 300;
  text-align: center;
  margin-top: 2.8rem;

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: $color-gray;
    margin-top: 2rem;
  }

  @include respond(phone) {
    margin-top: 0.8rem; // 1.6rem?

    &:after {
      margin-top: 1.6rem;
    }
  }

  &--modal {
    margin: 2.4rem 0;
  }
}
