@use "../abstracts/colors" as *;

.heading {
  font-size: 3.2rem;
  font-weight: 300;
  text-align: center;

  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: $color-gray;
    margin-top: 2rem;
  }
}
