.mb-h {
  margin-bottom: 6rem;
}

.mb-m {
  margin-bottom: 4rem;
}

.mb-s {
  margin-bottom: 2rem;
}

.ml-s {
  margin-left: 1rem;
}

.mt-s {
  margin-top: 1.5rem;
}

.mt-m {
  margin-top: 3rem;
}

.mt-h {
  margin-top: 8rem;
}

.mr-s {
  margin-right: 1rem;
}
.mr-m {
  margin-right: 2rem;
}

.align-self-end {
  align-self: flex-end;
}

.js-c {
  justify-self: center;
}

.g-cf {
  grid-column: 1 / -1;
}

.display-flex {
  display: flex;
}

.w-f {
  width: 100%;
}

.p-r {
  position: relative;
}
