{
  "presets": ["@babel/preset-env", "@babel/preset-react", "next/babel"],
  "plugins": [
    "superjson-next",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic"
      }
    ]
  ]
}
