// primary
$color-primary: #7c3ba8;
$color-primary-dark-1: #62268b;
$color-primary-dark-2: #35164a;
$color-primary-dark-3: #1b002e;
$color-primary-light-1: #c78bf1;
$color-primary-light-2: #e6ccf8;
$color-primary-light-3: #f3e1ff;

// secondary
$color-secondary: #9a15f5;
$color-secondary-light: #b952ff;

// gray
$color-gray: #b0a2ba;
$color-gray-dark-1: #646067;
$color-gray-dark-2: #3e3644;
$color-gray-dark-3: #14081d;
$color-gray-light-1: #e2dfe4;
$color-gray-light-2: #f7f0fb;
$color-gray-light-3: #fbf7fd;
$color-white: #fff;
$color-black: #000;

// UI
$color-success: #2ec32e;
$color-fail: #df1d2f;
$color-gold: #ffba11;
