@use '../../../../abstracts/colors' as *;

.favorite-master-card {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1.6rem 1.2rem;
  align-items: center;
  margin-top: 2.8rem;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s border-color;

  &:hover {
    border-color: $color-primary;
  }

  &:not(:last-of-type) {
    margin-right: 1.6rem;
  }

  &__avatar {
    $size: 7.2rem;
    width: $size;
    height: $size;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.6rem;
    margin-top: 1.2rem;
  }

  &__specialization {
    color: $color-primary;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.4rem;
    letter-spacing: 0.4px;
  }

  &__stars {
    margin-top: 1.2rem;
    & > *:not(:last-of-type) {
      margin-right: 0.2rem;
    }
  }
}
