@use '../../../../abstracts/colors' as *;

.masters-section {
  padding-top: 2rem;
  position: relative;
  grid-column: 1 / -1;

  &__heading {
    font-size: 2.4rem;
    color: $color-primary;
    font-weight: 700;
  }

  &__favorite-masters {
    display: flex;
    justify-content: flex-start;
    margin-right: 1.6rem;
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    display: block;
    height: 1px;
    background: $color-gray;
  }
}
