@use '../../abstracts/colors' as *;
@use '../../abstracts/mixins' as *;

.not-found {
  padding-top: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    position: relative;
    width: 49.9rem;
    height: 40.3rem;

    @include respond(phone) {
      width: 33rem;
      height: 26.7rem;
    }
  }

  &__text {
    color: $color-primary;
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-top: 5.6rem;
    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__sad-smile {
    margin-top: 4rem;
    font-size: 7rem;
    font-weight: 700;
    transform: rotate(90deg);
    color: $color-gray;
    @include respond(phone) {
      font-size: 5.6rem;
    }
  }
}
