@use "../../../../../abstracts/colors" as *;

.overall-review {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.6rem;
  padding: 3.6rem 1.6rem;

  background: $color-gray-light-3;
  color: $color-gray-dark-1;

  &__result {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__score {
    font-size: 7.2rem;
    color: $color-gray-dark-2;
  }

  &__stars {
    & > * {
      height: 2rem;

      &:not(:last-of-type) {
        margin-right: 0.8rem;
      }
    }
  }

  &__rating-indicators {
    grid-column: 7 / -1;
  }

  &__line {
    grid-column: 5 / 6;
    justify-self: center;
    height: 100%;
    width: 1px;
    background: $color-gray-light-1;
  }
}
