@use "../../../../../abstracts/colors" as *;

.rating-indicators {
  display: grid;
  grid-template-columns: 17.5rem max-content max-content;
  align-items: center;
  column-gap: 1.6rem;
  row-gap: 1.2rem;
}
