@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/colors' as *;

.search {
  &__heading {
    grid-row: 1 / 2;
    grid-column: 4 / 10;
  }

  &__specialization {
    margin-top: 2.8rem;
    grid-row: 2 / 3;
    grid-column: 2 / 6;
    align-self: flex-end;

    @include respond(phone) {
      align-self: flex-start;
    }
  }

  &__name {
    margin-top: 2.8rem;
    grid-row: 2 / 3;
    grid-column: 6 / 12;
  }

  &__master-card {
    grid-column: 2 / 12;
    margin-top: 2.8rem;
  }

  &__form {
    display: contents;
  }

  &__no-master-tools {
    grid-column: 1 / -1;
    margin-top: 2.8rem;
    text-align: center;
    color: $color-gray;
    line-height: 2rem;
    font-weight: 500;

    @include respond(phone) {
      margin-top: 0.8rem;
      margin-bottom: 0.4rem;
    }
  }

  &__no-masters {
    grid-column: 1 / -1;
    justify-self: center;
    position: relative;
    width: 36rem;
    height: 29rem;
    margin-top: 8rem;

    @include respond(phone) {
      margin-top: 5.6rem;
      width: 28rem;
      height: 22rem;
    }
  }

  &__spinner {
    grid-column: 1 / -1;
    justify-self: center;

    margin: 5.6rem 0 2rem;

    @include respond(phone) {
      $size: 3.2rem;
      width: $size;
      height: $size;

      margin: 3.6rem 0 2.4rem;
    }
  }

  @include respond(phone) {
    &__heading {
      grid-column: 1 / -1;
    }

    &__name {
      margin-top: 1.6rem;
      grid-column: 1 / 8;
      margin-bottom: 1.2rem;
    }

    &__specialization {
      margin-top: 1.6rem;
      grid-column: 8 / -1;
    }

    &__master-card {
      grid-column: 1 / -1;
      margin-top: 1.6rem;
    }
  }
}
