@use '../../../abstracts/mixins' as *;

.search {
  &__heading {
    grid-row: 1 / 2;
    grid-column: 4 / 10;
  }

  &__specialization {
    margin-top: 2.8rem;
    grid-row: 2 / 3;
    grid-column: 2 / 6;
  }

  &__name {
    margin-top: 2.8rem;
    grid-row: 2 / 3;
    grid-column: 6 / 12;
  }

  &__master-card {
    grid-column: 2 / 12;
    margin-top: 2.8rem;
  }

  &__form {
    display: contents;
  }

  &__no-masters {
    grid-column: 1 / -1;
    justify-self: center;
    width: 36rem;
    margin-top: 5.6rem;

    @include respond(phone) {
      width: 28rem;
    }
  }

  &__spinner {
    grid-column: 1 / -1;
    justify-self: center;

    $size: 4rem;
    width: $size;
    height: $size;

    margin: 5.6rem 0 2rem;

    @include respond(phone) {
      $size: 3.2rem;
      width: $size;
      height: $size;

      margin: 3.6rem 0 2.4rem;
    }
  }

  @include respond(phone) {
    &__heading {
      grid-column: 1 / -1;
    }

    &__name {
      margin-top: 1.6rem;
      grid-column: 1 / 8;
      margin-bottom: 1.2rem;
    }

    &__specialization {
      margin-top: 1.6rem;
      grid-column: 8 / -1;
    }

    &__master-card {
      grid-column: 1 / -1;
      margin-top: 1.6rem;
    }
  }
}
