@use '../../../../abstracts/colors' as *;
@use '../../../../abstracts/mixins' as *;

.noreview {
  background: $color-white;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.2rem;

  @include respond(phone) {
    margin-top: 1.6rem;
  }

  &__text {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
    padding: 3.6rem 1.2rem 0;
    text-align: center;
    color: $color-gray-dark-2;

    @include respond(phone) {
      padding-top: 1.6rem;

      &--owner {
        line-height: 3.2rem;
      }
    }
  }

  &__stars {
    & > * {
      height: 2rem;

      &:not(:last-of-type) {
        margin-right: 0.8rem;
      }
    }

    &--owner > * {
      height: 2.4rem;
    }
  }
}
