@use '../../abstracts/colors' as *;

.mobile-navbar {
  position: fixed;
  width: 100%;
  bottom: 0;

  padding: 0.4rem;
  background: $color-white;

  z-index: 20;

  &__main {
    max-width: 36rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &--end {
      justify-content: flex-end;
    }

    &--public {
      justify-content: space-around;
    }
  }

  &__item {
    position: relative;
    color: $color-primary-dark-2;
    border-radius: 1.6rem;
    cursor: pointer;

    a:visited,
    a:link,
    &--menu {
      color: inherit;
      padding: 1.6rem;
      display: block;
    }

    &--menu {
      color: $color-primary-dark-2;
    }

    &:hover {
      background: $color-primary-light-2;
    }

    &--active {
      background: $color-secondary-light;
      color: $color-white;
      pointer-events: none;

      &:hover {
        background: $color-secondary-light;
      }

      &.navbar__link--notification::after {
        background: $color-white;
      }
    }

    &--notification::after {
      content: '';
      display: block;
      position: absolute;
      top: 0.6rem;
      right: 0.6rem;

      $radius: 0.6rem;
      width: $radius;
      height: $radius;
      background: $color-primary;
      border-radius: 50%;
    }
  }

  &__icon {
    height: 1.6rem;
    margin: auto 0;
    color: inherit;

    &--big {
      height: 2rem;
    }
  }
}
