@use "../../abstracts/colors" as *;

.navbar {
  grid-column: navbar-start / navbar-end;
  grid-row: 1 / 2;
  background: $color-white;
  padding: 1.6rem 0;

  &__link {
    color: $color-primary-dark-2;

    &:not(:first-of-type) {
      margin-top: 1.2rem;
    }

    &:hover {
      background: $color-primary-light-2;
    }

    &--active {
      background: $color-secondary-light;
      color: $color-white;
      pointer-events: none;
      cursor: pointer;

      &:hover {
        background: $color-secondary-light;
      }
    }

    a:visited,
    a:link {
      padding: 1.6rem 2rem;
      display: flex;
      align-items: center;
      color: inherit;
      font-weight: 400;
    }
  }

  &__icon {
    height: 1.6rem;
    margin-right: 2rem;
  }
}
