.services {
  position: relative;
  background: #fff;
  border-radius: 0.3rem;
  overflow-y: auto;
  max-height: 75rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem 0;
  color: #222;

  &::after {
    content: '';
    display: block;
    grid-column: 1 / -1;
    height: 3rem;
  }

  &--display {
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, max-content)) repeat(2, min-content);
    justify-content: center;
    align-items: self-end;
  }

  &__heading {
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: #444;
    text-transform: uppercase;
    text-align: center;

    &::after {
      content: '';
      display: block;
      height: 1px;
      // width: 50%;
      margin: 1rem auto 0;
      background: #777;
    }
  }

  &__table-title {
    justify-self: center;
    font-size: 2rem;
  }

  &__form {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 2rem;
    font-size: 1.8rem;
    position: relative;
    justify-content: center;
    align-items: self-end;

    &--sub-service {
      padding: 0 2rem 0 4rem;
    }
  }

  &__first-service {
    justify-self: center;
    font-size: 2.2rem;
  }
}
