@use "../../../../../abstracts/colors" as *;
@use "../../../../../abstracts/mixins" as *;

.add-master-work {
  width: 40rem;
  background: $color-white;

  padding: 0 1.6rem 2rem;

  display: flex;
  flex-direction: column;

  &__svg {
    width: 24rem;
    align-self: center;

    @include respond(phone) {
      margin-top: 2rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3.2rem;

    @include respond(phone) {
      justify-content: center;
      margin-top: 0.8rem;
    }
  }

  &__choose-image {
    position: relative;
    margin-top: 1.6rem;

    & > *:first-child {
      width: 100%;
    }

    // @include respond(phone) {
    //   margin-top: 0;
    // }
  }

  &__upload-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;

    &::-webkit-file-upload-button {
      cursor: pointer;
    }
  }

  &__uploaded-image {
    max-width: 40rem;
    max-height: 40rem;
    object-fit: contain;
    background: $color-black;
    // phone
    @include respond(phone) {
      margin-top: 2rem;
      width: 100%;
    }
  }

  &__change-btn {
    align-self: flex-end;
    font-weight: 700;
    position: relative;

    &:hover .btn-text {
      color: $color-white;
      border-color: $color-white;
      background: $color-primary;
    }
  }

  &__form {
    display: contents;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;

    @include respond(phone) {
      & > * {
        width: 100%;
      }
    }
  }
}
