@use "../../../../../abstracts/colors" as *;

.master-works {
  $size: 27rem;

  position: relative;
  display: grid;
  background: $color-gray-light-3;
  grid-template-columns: repeat(3, $size);
  grid-auto-rows: $size;
  overflow: hidden;

  &__add-work {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-gray;
    transition: 0.2s background;
    background: rgba($color-black, 0.12);
    cursor: pointer;

    & > * {
      height: 4rem;
      transition: 0.2s color;
    }

    &:hover {
      background: rgba($color-primary-dark-2, 0.19);

      & > * {
        color: $color-primary;
      }
    }
  }
}
