@use "../../../../../abstracts/colors" as *;
@use "../../../../../abstracts/mixins" as *;

.master-works {
  position: relative;
  background: $color-gray-light-3;
  max-width: 81rem + 1.7rem; // 82.7 - 1.7rem
  display: grid;
  // overflow: hidden;
  max-height: 70vh;
  overflow-y: auto;

  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, 27rem);

  &--loading {
    height: 27rem;
    width: 27rem;
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(auto-fit, 18.9rem);
    max-width: 56.8rem + 1.7rem;
  }

  @include respond(phone) {
    min-height: unset;
    max-width: unset;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    background: $color-white;

    &--loading {
      height: 100%;
      width: 100%;
    }
  }

  &__add-work {
    color: $color-gray;
    transition: 0.2s background;
    background: rgba($color-black, 0.12);
    cursor: pointer;

    padding-top: 100%;
    position: relative;

    & > * {
      position: absolute;
      height: 4rem;
      transition: 0.2s color;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include respond(phone) {
        height: 3.2rem;
      }
    }

    &:hover {
      background: rgba($color-primary-dark-2, 0.19);

      & > * {
        color: $color-primary;
      }
    }
  }
}
