@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.add-time {
  display: grid;
  // 10rem for inputs
  grid-template-columns: max-content max-content 10rem repeat(9, 1fr);
  column-gap: 0.8rem;
  background: $color-white;
  width: 34rem;
  padding: 2.8rem 1.6rem;
  border-radius: 0.5rem;

  &__heading {
    grid-column: 2 / 12;
    margin-top: 0;
  }

  &__label {
    grid-column: 2 / 4;
    align-self: center;
    justify-self: flex-end;
    justify-self: flex-start;
  }

  &__value {
    grid-column: 4 / -1;
    font-weight: 700;
    // align-self: center;
    display: flex;
    align-items: center;
  }

  &__button {
    grid-column: 2 / 12;
  }

  &__error {
    grid-column: 2 / 12;
  }

  @include respond(phone) {
    &__button {
      grid-column: 1 / -1;
    }

    &__label {
      grid-column: 1 / 4;
    }
  }
}
