@use "../../../abstracts/mixins" as *;

.timetable {
  padding: 1.6rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.6rem;

  &__heading {
    grid-column: 4 / 10;
  }

  &__form {
    display: contents;
  }

  &__button {
    grid-column: 1 / 12;
    justify-self: flex-end;

    @include respond(tab-port) {
      grid-column: 1/ -1;
    }

    @include respond(phone) {
      justify-self: stretch;
    }
  }
}
