@use '../../../abstracts/mixins' as *;

.timetable-visual {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  &__weekday {
    grid-column: span 1;
  }

  @include respond(phone) {
    display: block;
  }
}
