@use "../../../abstracts/colors" as *;
@use "../../../abstracts/mixins" as *;

// what about min/max-content of cards' labels?

.timetable-card {
  position: relative;
  grid-column: 2 / 12;

  display: grid;
  grid-template-columns: max-content minmax(min-content, max-content) repeat(10, 1fr);
  column-gap: 0.8rem;
  padding: 1.6rem 1.6rem 2rem;

  @include respond(tab-port) {
    padding: 1.6rem 1.2rem 2rem;
    grid-column: 1 / -1;
    grid-template-columns: max-content 1fr;
  }

  &--edit {
    grid-template-columns: max-content minmax(min-content, 7rem) repeat(10, 1fr);

    @include respond(tab-port) {
      // grid-template-columns: max-content 1fr;
      grid-template-columns: max-content max-content;
    }
  }

  &__heading {
    font-size: 2rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    // for updated timetable
    line-height: 2.8rem;
  }

  &__label {
    font-weight: 700;
    align-self: center;
    grid-column: 1 / 2;
  }

  &__value {
    align-self: center;
  }

  &__input {
    width: unset;
    padding: 0.4rem 0.8rem;
    width: 6rem;
  }

  &__tip {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-gray-dark-2;

    &--primary {
      color: $color-primary;
    }

    &--gray {
      color: $color-gray;
    }
  }

  &__select {
    height: 2.8rem;
    width: 6rem;
    padding-left: 0.4rem;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    & > * {
      width: 6rem;
    }

    @include respond(phone) {
      height: 3.6rem;
      font-size: 1.6rem;
      padding-left: 1.2rem;
      width: 8rem;
    }
  }

  &__exceptions {
    & > *:not(:first-child) {
      margin-top: 0.4rem;
    }
  }

  &__btn-edit {
    grid-column: 12 / 13;
    justify-self: flex-end;

    &--primary {
      grid-column: 11 / 12;
      justify-self: flex-end;
    }

    &--bottom {
      align-self: end;
    }

    @include respond(phone) {
      grid-column: 3 / 4;

      &--absolute {
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
      }
    }
  }

  &__delete-btn {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    justify-self: flex-end;
    align-self: center;
  }
}
