.timetable {
  padding: 1.6rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.6rem;

  &__heading {
    grid-column: 4 / 10;
  }

  &__form {
    display: contents;
  }

  &__button {
    grid-column: 10 / 12;
    justify-content: end;
  }
}
