@use "../../../abstracts/mixins" as *;

.timetable {
  padding: 1.6rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.6rem;

  &__heading {
    grid-column: 4 / 10;
  }

  &__form {
    display: contents;
  }

  &__buttons {
    grid-column: 1 / 12;
    justify-self: flex-end;
    display: flex;

    & > *:last-child {
      margin-left: 1.2rem;
    }

    @include respond(tab-port) {
      grid-column: 1/ -1;
    }

    @include respond(phone) {
      justify-self: stretch;
      flex-direction: column-reverse;

      & > *:last-child {
        margin-left: 0;
        margin-bottom: 1.2rem;
      }
    }
  }

  &__button {
    grid-column: 1 / 12;
    justify-self: flex-end;

    @include respond(tab-port) {
      grid-column: 1/ -1;
    }

    @include respond(phone) {
      justify-self: stretch;
    }
  }
}
