@use "../../../abstracts/colors" as *;

.update-success {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: $color-white;
  padding: 2.4rem 1.6rem;

  &__heading {
    align-self: stretch;
  }

  &__text-success {
    border-bottom: 2px solid $color-success;
  }

  &__danger {
    font-weight: 700;
    border-bottom: 2px solid $color-fail;
  }

  &__btn {
    align-self: stretch;
  }
}
