@use "../../../abstracts/colors" as *;

.weekends {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 34.8rem;
  column-gap: 1.6rem;
  background: $color-white;
  padding: 2.4rem 1.6rem;

  &__heading {
    grid-column: 2 / 12;
  }

  &__text {
    grid-column: 2 / -1;
    color: $color-gray;
  }

  &__days {
    grid-column: 2 / 12;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
  }

  &__day {
    justify-self: center;

    display: block;
    padding: 0.8rem 0;
    width: 6.4rem;
    font-size: 1.6rem;
    color: $color-gray;
    border: 2px solid $color-gray;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    transition: 0.2s color, 0.2s background, 0.2s border-color;

    &:hover {
      border-color: $color-primary-dark-1;
      color: $color-primary-dark-1;
    }

    &--exception {
      border-color: $color-primary-dark-1;
      color: $color-primary-dark-1;
    }
  }

  &__button {
    grid-column: 2 / 12;
    width: 100%;
  }
}
