@use "../../../abstracts/colors" as *;
@use "../../../abstracts/mixins" as *;

.weekends {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  width: 34.8rem;
  column-gap: 1.6rem;
  background: $color-white;
  padding: 0 2.4rem 2.4rem;

  // &--mobile {
  //   height: 100%;
  // }

  @include respond(phone) {
    // height: 100%;
    column-gap: 1.2rem;
    padding: 1.2rem 0.4rem;
  }

  &__heading {
    grid-column: 1 / -1;
  }

  &__text {
    grid-column: 1 / -1;
    color: $color-gray;
  }

  &__days {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
  }

  &__day {
    justify-self: stretch;

    display: block;
    padding: 1.2rem 0;
    font-size: 1.6rem;
    color: $color-gray;
    border: 2px solid $color-gray;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    transition: 0.2s color, 0.2s background, 0.2s border-color;

    &:hover {
      border-color: $color-primary-dark-1;
      color: $color-primary-dark-1;
    }

    &--exception {
      border-color: $color-primary-dark-1;
      color: $color-primary-dark-1;
    }
  }

  &__button {
    grid-column: 1 / -1;
    // width: 100%;
  }
}
