@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.weekday {
  @include respond(phone) {
    display: flex;
    align-items: center;
  }

  &__name {
    height: 4.8rem;
    background: $color-gray-light-2;
    color: $color-primary-dark-2;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      padding: 0 2.4rem;
    }
  }

  &__appointments {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone) {
      overflow-x: scroll;
      flex-direction: row;
      padding-right: 1.2rem;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__time {
    display: block;
    padding: 0.8rem 0;
    width: 6.4rem;
    font-size: 1.6rem;
    color: $color-primary-dark-1;
    // background: $color-primary-dark-1;
    border: 2px solid $color-primary-dark-1;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    transition: 0.2s color, 0.2s background, 0.2s border-color;
    margin-top: 2rem;

    &:hover {
      background: $color-fail;
      border-color: $color-fail;
      color: $color-white;
    }

    // for timetable manually
    &--exception {
      background: $color-fail;
      border-color: $color-fail;
      color: $color-white;
    }

    &--add {
      display: flex;
      justify-content: center;
      background: $color-white;
      fill: $color-primary-dark-1;
      transition: 0.2s fill, 0.2s background, 0.2s border-color;

      &:hover {
        border-color: $color-primary-dark-1;
        background: $color-primary-dark-1;
        fill: $color-white;
      }

      & > * {
        height: 1.6rem;
      }
    }

    &--disabled {
      pointer-events: none;
    }

    @include respond(phone) {
      margin-left: 1.2rem;
      margin-top: unset;
      // width: 4.6rem;
      padding: 0.8rem;
      font-size: 1.2rem;

      &:hover {
        background: unset;
        border-color: $color-primary-dark-1;
        color: $color-primary-dark-1;
      }

      &--exception:hover {
        background: $color-fail;
        border-color: $color-fail;
        color: $color-white;
      }

      &--add {
        min-width: 6.4rem;

        & > * {
          height: 1.2rem;
        }

        &:hover {
          border-color: $color-primary-dark-1;
          background: $color-primary-dark-1;
          fill: $color-white;
        }
      }
    }
  }
}
