@use "../../../abstracts/colors" as *;

.weekday {
  &__name {
    height: 4.8rem;
    background: $color-gray-light-2;
    color: $color-primary-dark-2;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__appointments {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__time {
    display: block;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    color: $color-white;
    background: $color-primary;
    border-radius: 0.5rem;
    cursor: pointer;

    &--fail {
      background: $color-fail;
    }

    &--add {
      padding: 0.8rem 2.4rem;

      & > * {
        height: 1.6rem;
      }
    }

    &--disabled {
      pointer-events: none;
    }
  }
}
