@use '../../../../abstracts/colors' as *;
@use '../../../../abstracts/mixins' as *;

.appointments-statistic {
  display: flex;
  // flex-direction: column;
  padding: 2rem 2.4rem 2rem 1.6rem;
  color: $color-gray-dark-3;
  font-weight: 500;
  margin-left: 1rem;

  &__titles,
  &__scores {
    display: flex;
    flex-direction: column;
  }

  &__score {
    color: $color-primary;
    font-weight: 700;
  }

  &--sibling-appointment {
    @include respond(tab-port) {
      margin-left: 0rem;
      line-height: 2.4rem;
      padding: 1.2rem 2.4rem 1.2rem 1.6rem;

      .appointments-statistic__score {
        flex: 1;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}
