@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.city-search {
  width: 45.8rem;
  padding: 0 3.2rem;
  background: $color-white;
  transform: translateY(-4rem);
  display: flex;
  flex-direction: column;
  height: 58.8rem;
  overflow-y: scroll;
  position: relative;

  @include respond(phone) {
    width: 36rem;
    transform: none;
    height: 100%;
  }

  &__heading {
    margin-bottom: 1.6rem;
    color: $color-black;
  }

  &__bar {
    width: 100%;

    @include respond(phone) {
      margin-top: 2rem;
    }
  }

  &__city {
    cursor: pointer;
    font-size: 2rem;
    transition: 0.2s border-color;
    align-self: flex-start;
    font-weight: 500;
    color: $color-gray-dark-2;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.2rem 0.8rem;
    background: $color-gray-light-3;
    border: 2px solid transparent;

    margin-top: 1.2rem;

    &:hover {
      background: $color-gray-light-2;
    }

    &--active {
      border-color: $color-primary;
      pointer-events: none;
    }
  }

  &__region {
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-gray-dark-1;
    margin-top: 0.8rem;
  }

  &__current-city {
    background: $color-gray-light-3;
    border-radius: 0.5rem;
    padding: 0.8rem;
  }

  &__btn {
    position: sticky;
    bottom: 2rem;
    margin-top: auto;
  }
}
