@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.city {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: flex;
  align-self: center;
  padding: 1.6rem 2rem;
  color: $color-primary-dark-2;
  cursor: pointer;
  background: $color-white;
  transition: 0.2s background;
  margin-top: 2.4rem;

  &__icon {
    height: 1.6rem;
    margin-right: 2.4rem;
    fill: $color-primary-dark-2;

    @include respond(tab-land) {
      margin-right: 0;
    }
  }

  &:hover {
    background: $color-secondary-light;
    color: $color-white;

    & * {
      fill: $color-white;
    }
  }

  @include respond(tab-land) {
    margin-top: 0;
    grid-column: content-start / content-end;
    grid-row: 1 / 2;
    justify-self: flex-end;
    align-self: flex-start;
    padding: 2rem;
  }

  @include respond(phone) {
    display: none;

    &--mobile {
      display: flex;
      padding: 1.6rem;
    }
  }
}

.city-settings {
  display: flex;
  align-self: center;
  padding: 1.6rem 2rem;
  color: $color-primary-dark-2;
  cursor: pointer;
  background: $color-white;
  transition: 0.2s background;
}
