@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.add-service {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  column-gap: 1.6rem;
  background: $color-white;
  // width: 36rem;
  padding: 0 1.6rem;
  overflow-y: auto;
  max-height: 75rem;

  @include respond(phone) {
    padding-top: 2.4rem;
    // width: 100%;
    height: 100%;
    max-height: none;
    border-radius: 0;
    box-shadow: none;
  }

  // do scrollbar nicer ?
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__heading {
    grid-column: 1 / -1;
  }

  &__switch {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > *:first-child {
      margin: 0;
    }
  }

  &__switch-label {
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__form {
    display: contents;

    &:after {
      display: block;
      content: '';
      grid-column: 1 / -1;
      height: 2.8rem;
      padding-right: 5rem;
    }
  }

  &__title {
    grid-column: 1 / -1;

    &--disabled {
      color: $color-gray;

      & > * {
        border-color: $color-gray;
      }
    }
  }

  &__parameter {
    flex: 1;
  }

  &__parameter-and-btn {
    position: relative;
    margin-top: 1.6rem;
    grid-column: 1 / -1;
    display: flex;

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background: $color-gray-light-1;
      margin-bottom: 1.6rem;
    }
  }

  &__price {
    &--disabled {
      color: $color-gray;
      fill: $color-gray;

      & > * {
        border-color: $color-gray;
      }
    }
  }

  &__price-and-duration {
    grid-column: 1 / -1;

    display: flex;

    & > * {
      flex: 1;
    }
  }

  &__button {
    grid-column: 1 / -1;
  }

  &__add {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-gray-light-3;
    height: 5.6rem;
    fill: $color-gray;
    transition: 0.2s fill;
    cursor: pointer;

    // icon
    & > * {
      grid-column: 1 / -1;
      justify-self: center;
      align-self: center;
      height: 2rem;
    }

    &:hover {
      fill: $color-primary;
    }
  }

  &__date {
    color: $color-primary;
  }

  &__delete {
    align-self: flex-end;
    margin-bottom: 0.4rem;
  }
}
