@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.draggable-service {
  position: relative;
  transition: 0.2s border-color;
  padding: 1.2rem 1.2rem 0;

  &__lines {
    grid-column: 1 / -1;
    position: relative;
    margin-top: 1.6rem;
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      width: 100%;
      height: 1px;
      background: $color-gray-light-1;
    }
  }

  &__icon {
    & > * {
      fill: $color-gray-light-1;
      transition: 0.1s fill;
    }

    &--dragging {
      & > * {
        fill: $color-primary;
      }
    }
  }
}
