@use '../../../abstracts/colors' as *;

.reorder-controller {
  &__item {
    font-weight: 700;
    line-height: 1.6rem;
    cursor: pointer;
    color: $color-gray;
    border-bottom: 1px solid transparent;

    margin: 0 0.4rem;
    transition: 0.2s border-color, 0.2s color;

    &:first-of-type {
      margin-left: 0.8rem;
    }

    &:last-of-type {
      margin-right: 0.4rem;
    }

    &:hover {
      color: $color-gray-dark-2;
      border-color: $color-gray-dark-2;
    }

    &--active {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;

      cursor: default;
      pointer-events: none;
    }
  }
}
