@use "../../../abstracts/colors" as *;

.service {
  width: 100%;
  position: relative;
  grid-column: 1 / 7;
  background: $color-white;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: $color-black;
  cursor: pointer;

  border-radius: 0.5rem;

  min-height: 9.2rem;

  padding: 1.2rem;

  border: 1px solid transparent;

  &__side {
    display: flex;
    flex-direction: column;

    &--left {
      position: relative;
      grid-column: 1 / 9;

      &::after {
        position: absolute;
        right: 0;
        top: 0;
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        background: $color-gray-light-1;
        transition: 0.2s background; // for booking-service
      }
    }

    &--right {
      grid-column: 9 / 13;
    }
  }

  &__title {
    line-height: 2.4rem;
  }

  &__group {
    display: flex;
    line-height: 1.15;
    letter-spacing: 0;
    // color: $color-gray-dark-3;
    color: #353238;
    font-weight: 500;

    & > * {
      height: 1.65rem;
      margin-right: 0.6rem;
    }
  }

  &--hover {
    transition: 0.2s border-color;

    &:hover {
      border-color: $color-primary;

      .service__side--left::after {
        background: $color-primary;
      }

      .service-parameter__icon {
        color: $color-primary;
      }
    }
  }

  &__btn {
    position: absolute;
    // size of btn is 3.2rem, 2rem is margin
    right: -3.2rem - 2rem - 3.2rem - 2rem;
    top: 50%;
    transform: translateY(-50%);

    &--first {
      // size of btn is 3.2rem, 2rem is margin
      right: -3.2rem - 2rem;
    }
  }

  &--add {
    transition: 0.2s color;
    color: $color-gray;

    // icon
    & > * {
      grid-column: 1 / -1;
      justify-self: center;
      align-self: center;
      height: 2.4rem;
      color: inherit;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
