@use "../../../abstracts/colors" as *;

.service-parameter {
  border-radius: 0.5rem;
  transition: 0.1s box-shadow;

  &__sub-service {
    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background: $color-gray-light-2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.1s opacity;
    }

    &:hover {
      // hide top line
      &::before {
        opacity: 0;
      }

      // hide top line on next sub-service
      & + .service-parameter__sub-service {
        &::before {
          opacity: 0;
        }
      }
    }
  }

  // do i need this?
  &__parameter {
    margin: auto;
  }

  &__icon {
    color: $color-gray;
    transition: 0.2s color, 0.2s transform;
    margin: auto;
    transition: 0.2s color;

    & > * {
      height: 2.8rem;
    }

    &--rotated {
      transform: rotate(-90deg);
      color: $color-gray-dark-2;
    }
  }

  &--hover {
    &:hover {
      //important box-shadow transition 0.1s!
      box-shadow: 0 0 0 1px $color-primary;

      .service-parameter__icon {
        color: $color-primary;
      }
    }
  }
}
