@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.update-alert {
  display: flex;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid $color-primary;

  &--error {
    border-color: $color-fail;
    padding: 0.8rem 1.2rem;
  }

  &__text {
    font-weight: 500;
  }

  &__text--error {
    line-height: 2.4rem;
    color: $color-fail;
  }

  &__date {
    // border-bottom: 2px solid $color-primary;
    color: $color-primary-dark-1;
  }

  @include respond(phone) {
    line-height: 2rem;
    font-size: 1.6rem;

    &__text--error {
      font-size: 1.2rem;
    }
  }
}
