@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.landing-phone-navigation {
  display: none;

  @include respond(phone) {
    display: block;
  }

  &__checkbox {
    display: none;
  }

  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  &__bar {
    width: 2.4rem;
    height: 0.4rem;
    background: rgba($color-gray, 0.8);
    border-radius: 2px;
    margin-bottom: 0.4rem;
    transition: 0.4s transform, 0.2s opacity;

    &--1,
    &--3 {
      transform-origin: left;
    }
  }

  &__background {
    position: fixed;
    top: -5rem;
    right: -5rem;
    z-index: 1;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: linear-gradient(to bottom, $color-primary-light-1, $color-primary-dark-2);
    transition: 0.8s transform;
  }

  &__menu {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    color: $color-white;
    font-size: 2.8rem;
    font-weight: 500;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    word-spacing: 0.8rem;
    cursor: pointer;
    transform: translateX(15rem);
    white-space: nowrap;
    opacity: 0;

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }

    &:hover {
      border-color: $color-white;
    }

    &--1 {
      transition: 0.8s transform ease, 0.4s opacity ease;
    }

    &--2 {
      transition: 0.8s transform 0.1s ease, 0.4s opacity 0.1s ease;
    }

    &--3 {
      transition: 0.8s transform 0.2s ease, 0.4s opacity 0.2s ease;
    }
  }

  &__link {
    padding-bottom: 0.2rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s;

    &:hover {
      border-color: $color-white;
    }
  }

  &__checkbox:checked ~ &__background {
    opacity: 1;
    transform: scale(50);
  }

  &__checkbox:checked ~ &__menu {
    opacity: 1;
    pointer-events: all;
  }

  &__checkbox:checked ~ &__menu &__item--1,
  &__checkbox:checked ~ &__menu &__item--2,
  &__checkbox:checked ~ &__menu &__item--3 {
    transform: translateX(0);
    opacity: 1;
  }

  // cross
  &__checkbox:checked ~ &__label &__bar {
    background: $color-white;
  }
  &__checkbox:checked ~ &__label &__bar--1 {
    transform: rotate(43deg);
  }
  &__checkbox:checked ~ &__label &__bar--2 {
    opacity: 0;
  }
  &__checkbox:checked ~ &__label &__bar--3 {
    transform: rotate(-43deg);
  }
}
