@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  grid-column: 1 / -1;

  @include respond(phone) {
    margin-top: 2rem;
  }

  &__progress {
    margin-top: 4rem;
  }

  &__heading {
    margin-top: 4rem;
    font-size: 2rem;
    color: $color-primary-dark-2;
    &--center {
      line-height: 2.8rem;
      text-align: center;
    }
  }

  &__sub-heading {
    color: $color-gray;
    font-weight: 500;
    align-self: flex-start;
  }

  &__choice-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4.4rem;
    width: 39.6rem;

    @include respond(phone) {
      width: 33rem;
    }
  }

  &__disclaimer {
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-fail;
    margin-top: 4rem;
    line-height: 2rem;
    text-align: center;
  }

  &__agreement-rules {
    color: $color-primary;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: 0.2s border-color;

    &:hover {
      border-color: $color-primary;
    }
  }

  &__btn {
    flex: 1;
    margin-top: 3.2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 27.6rem;

    &--horizontal {
      flex-direction: row;
    }

    &--optional label {
      color: $color-gray;
    }
  }

  &__label--optional {
    color: $color-gray;
  }

  &__input {
    // width: 100%;
    // height: 4rem;

    &--phone {
      letter-spacing: 0.6px;
      height: unset;
      padding: 1.2rem 0 !important;
    }

    &--verification {
      border: none;
      border-bottom: 2px solid $color-gray;
      border-radius: 0;
      font-size: 4rem;
      padding: 0 0 0.8rem;
      text-align: center;
      text-transform: uppercase;
      height: unset;
    }

    &--inactive * {
      color: $color-gray;
      border-color: $color-gray;
    }

    &--city {
      // border: 2px solid $color-gray-dark-2;
      border: 1px solid $color-black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4.4rem;
      cursor: pointer;
      transition: 0.2s background;

      // padding-right: 0.8rem;

      & > * {
        height: 0.8rem;
      }

      &:hover {
        border-color: $color-primary-dark-1;

        & > * {
          color: $color-primary;
        }
      }
    }
  }

  &__phone-number {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 0.4rem 0 1.2rem;
    // background: $color-gray-light-1;
    // color: rgba($color-gray-dark-1, 0.5);
    // color: rgba($color-gray-dark-2, 0.5);
    color: $color-gray-dark-2;
    font-weight: 500;

    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &__verification {
    display: flex;
    width: 27.6rem;
    margin: 4rem 0 0.8rem;
  }

  &__repeat {
    align-self: flex-start;
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-gray;
  }

  &__time {
    color: $color-primary;
  }

  &__btn {
    align-self: stretch;
    letter-spacing: 0.1px;
    font-weight: 600;
    border-width: 2px;
  }
}
