@use '../../../../abstracts/colors' as *;
@use '../../../../abstracts/mixins' as *;

.edit-place-of-work {
  padding: 0 2.4rem 2.4rem;
  background: $color-white;
  color: $color-black;

  @include respond(phone) {
    width: 100%;
    box-shadow: none;
  }

  &__heading {
    margin-bottom: 0;
  }
}
