@use '../../../../abstracts/colors' as *;
@use '../../../../abstracts/mixins' as *;

.star-profile {
  position: relative;
  height: 2.4rem;
  fill: $color-primary;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s transform;

  @include respond(phone) {
    height: 2rem;
  }

  &--unstar {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--invisible {
    opacity: 0;
  }
}
