@use "../../../../abstracts/colors" as *;

.star-profile {
  position: relative;
  height: 2rem;
  color: $color-secondary-light;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s transform;

  &--unstar {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--invisible {
    opacity: 0;
  }
}
