@use "../../../../../abstracts/mixins" as *;

.avatar {
  $diameter: 14rem;
  $diameterTabPort: 11.6rem;
  $diameterPhone: 6.8rem;

  position: relative;

  &__image {
    width: $diameter;
    border-radius: 50%;

    @include respond(tab-port) {
      width: $diameterTabPort;
    }

    @include respond(phone) {
      width: $diameterPhone;
    }
  }

  &__change-image {
    opacity: 0;

    width: $diameter;
    height: $diameter;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s opacity, 0.2s background;

    &:hover {
      opacity: 1;
      // background: rgba(0, 0, 0, 0.5);
      background: rgba(0, 0, 0, 0.65);
    }

    @include respond(tab-port) {
      width: $diameterTabPort;
      height: $diameterTabPort;
    }

    @include respond(phone) {
      width: $diameterPhone;
      height: $diameterPhone;
    }
  }

  &__pen-icon {
    height: 2.4rem;
    color: #ad60e2;

    @include respond(phone) {
      height: 1.6rem;
    }
  }
}
