@use "../../../../../abstracts/colors" as *;
@use "../../../../../abstracts/mixins" as *;

.upload-avatar {
  background: $color-white;
  padding: 0 4rem 2rem;

  &__uploaded-image {
    $size: 48rem;

    max-height: $size;
    max-width: $size;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;

    & > *:first-child {
      margin-right: 1.6rem;
    }
  }

  @include respond(phone) {
    max-width: 36rem;
    padding: 2.4rem 0.8rem;
    height: 100%;

    &__buttons {
      margin-top: 2.4rem;

      flex-direction: column;

      & > *:first-child {
        margin-right: 0;
        margin-bottom: 1.6rem;
      }
    }

    &__uploaded-image {
      width: 100%;
    }

    &__back-button {
      width: 100%;
    }
  }
}
