$card-size: 10vw;

.profile-card {
  width: $card-size;
  height: $card-size;
  background: #ede9ef; // eee

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  transform: scale(0.98);
  transition: 0.2s transform, 0.2s box-shadow;

  &:hover {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    .profile-card__icon {
      color: #7c3ba8;
    }
  }

  &__icon {
    height: 5.5rem;
    margin-bottom: 3rem;
    color: #666;

    transition: 0.2s color;
  }
}
