@use '../../../../abstracts/colors' as *;
@use '../../../../abstracts/mixins' as *;

.profile-card {
  flex-shrink: 0;
  position: relative;
  cursor: pointer;

  transition: 0.2s transform;

  height: 16.7rem;
  width: 25rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  border-radius: 0.9rem;

  &:hover {
    transform: translateY(-0.5rem);
  }

  @include respond(tab-port) {
    &:not(:first-of-type) {
      margin-left: 1.2rem;
    }
  }

  @include respond(phone) {
    height: 12rem;
    width: 18rem;

    &:not(:first-of-type) {
      margin-left: 0.8rem;
    }

    &:hover {
      transform: translateY(0);
    }
  }
}
