@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.forgot-password {
  padding: 6.4rem 9.2rem;
  background: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(phone) {
    padding: 3.6rem 0.8rem;
    box-shadow: none;

    &__svg {
      max-width: 30rem;
    }
  }

  &__text {
    color: $color-gray;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
    letter-spacing: 0.2px;

    @include respond(phone) {
      text-align: center;
    }
  }

  &__link {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.2rem;

    @include respond(phone) {
      margin-top: 2rem;
    }
  }
}
