@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.date-picker {
  // width: 32rem;
  padding: 0 0.4rem 1.2rem;
  background: $color-white;

  display: grid;
  grid-template-columns: repeat(7, 1fr);

  &__month-and-year {
    grid-column: 2 / 7;
    font-weight: 700;
    color: $color-primary;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
  }

  &__arrow {
    border: 2px solid transparent;
    // padding: rem;
    height: 3rem;
    width: 3rem;
    fill: $color-gray;
    transition: 0.2s fill, 0.2s border-color;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      height: 1.6rem;
    }

    &:hover {
      border-color: $color-primary;
      fill: $color-primary;
    }

    &--right {
      grid-column: 7 / 8;
      justify-self: flex-end;
    }

    &--left {
      grid-column: 1 / 2;
      justify-self: flex-start;
    }

    &--disabled {
      pointer-events: none;
      opacity: 0;
    }
  }

  &__choice {
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.8rem 2rem 0.6rem;
    color: $color-white;
    background: $color-primary;
    grid-column: 1 / -1;
    justify-self: flex-start;
  }

  &__weekday {
    color: $color-gray;
    justify-self: center;
    font-weight: 500;
  }

  &__date {
    color: $color-gray-dark-2;
    margin: 0.4rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: $color-gray-light-2;

      @include respond(tab-port) {
        background: $color-gray-light-2;
      }

      @include respond(phone) {
        background: $color-primary;
      }
    }

    &--active {
      background: $color-primary;
      color: $color-white;
      pointer-events: none;
    }

    &--unavailable {
      color: $color-gray;
    }

    &--disabled {
      pointer-events: none;
    }
  }

  &__buttons {
    grid-column: 1 / -1;
    display: flex;
    padding: 0 0.4rem;
  }

  &__button {
    flex: 1;

    &--ok {
      border-color: $color-primary;
      color: $color-primary;

      &:hover {
        background: $color-primary;
        color: $color-white;
      }
    }
  }
}
