@use '../../../abstracts/colors' as *;

.input {
  background-color: transparent;
  position: relative;
  width: 100%;
  border-radius: 0.7rem;
  padding: 0 0.8rem;
  border: 1px solid $color-black;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
  font-weight: inherit;

  // height: 3.2rem;
  height: 4rem;

  &:focus {
    border-color: $color-primary;
  }

  &--icon {
    display: flex;
    align-items: center;
    border: 1px solid $color-black;
    border-radius: 0.7rem;
    cursor: pointer;

    &:focus {
      border-color: $color-primary;
    }

    // input
    & > *:last-child {
      flex: 1;
      border: none;
      // outline: none;
      padding: 0;

      &:focus {
        // outline: none;
        // border-color: $color-primary;
      }
    }

    // &:focus-within {
    //   // border-color: $color-primary;

    //   & > *:first-child {
    //     color: $color-primary;
    //   }
    // }
  }

  // for select
  &__hide {
    display: none;
  }

  &__icon {
    height: 1.6rem;
    padding-left: 0.8rem;
  }

  &--error {
    border-color: $color-fail;
  }

  &--success {
    border-color: $color-success;
  }

  &--display {
    height: 5.6rem;
    background: $color-gray-light-3;
    border-radius: 0.5rem;
    padding: 0.8rem;
  }
}
