@use "../../../abstracts/colors" as *;

.input {
  background-color: transparent;

  width: 100%;
  border-radius: 0.7rem;
  height: 4rem;
  padding: 0 0.8rem;
  border: 1px solid $color-black;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;

  &:focus {
    border-color: $color-primary;
  }

  &--icon {
    display: flex;
    align-items: center;
    border: 1px solid $color-black;
    border-radius: 0.7rem;

    // input
    & > *:last-child {
      flex: 1;
      border: none;
      outline: none;

      &:focus {
        outline: none;
      }
    }

    &:focus-within {
      // border-color: $color-primary;

      & > *:first-child {
        color: $color-primary;
      }
    }
  }

  &__icon {
    height: 2rem;
    padding-left: 0.8rem;

    &--s {
      height: 1.2rem;
      padding-left: 0.4rem;
    }

    &--m {
      height: 1.6rem;
      padding-left: 0.4rem;
    }
  }

  &--error {
    border-color: $color-fail;
  }

  &--display {
    height: 5.6rem;
    background: $color-gray-light-2;
    border-radius: 0.5rem;
    padding: 0.8rem 1.2rem;
  }

  &--mini {
    padding: 0 0.4rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
