@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.select {
  appearance: none;
  background: url('/svg/arrow-dropdown.svg') no-repeat right;
  background-position: right 0.8rem center;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;

  &:focus {
    border-color: $color-primary;
  }

  &--no-arrow {
    background: none;
  }
}
