.textarea {
  // this for edit service title
  // .service__textarea
  // $width: 90%;
  // max-width: $width;
  // min-width: $width;
  // min-height: 6.5rem; // 6.4 rem + 0.1rem
  // padding: 0.4rem;

  font-family: inherit;
  font-weight: inherit;
  letter-spacing: 0.1px;

  line-height: 2.4rem;

  &--s {
    padding: 0.4rem;
  }
}
