@use "../../../../../abstracts/colors" as *;
@use "../../../../../abstracts/mixins" as *;

.booking-success {
  width: 36rem;
  background: $color-white;

  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // column-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2.4rem;

  @include respond(phone) {
    padding-top: 2.4rem;
  }

  &__svg {
    align-self: center;
  }

  &__text {
    line-height: 2.4rem;
  }

  &__button {
    justify-self: flex-end;

    @include respond(phone) {
      justify-self: stretch;
    }
  }
}
