@use '../../../../../abstracts/colors' as *;
@use '../../../../../abstracts/mixins' as *;

.booking-result {
  @include card;

  width: 44rem;
  background: $color-white;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.6rem;
  padding: 0 0 2.4rem;

  @include respond(phone) {
    padding: 1.2rem 0 2.4rem;
  }

  &__heading {
    grid-column: 2 / 12;

    text-transform: uppercase;
    color: #502f66;
    font-weight: 500;
    margin-top: 1.2rem;

    &::after {
      height: 2px;
      background: #e8e2ed;
    }
  }

  &__svg {
    grid-column: 4 / 10;
    justify-self: center;
    transform: scale(1.2);
    margin: 2rem 0;

    @include respond(phone) {
      margin-top: 3.2rem;
    }
  }

  &__label {
    grid-column: 4 / 5;
    line-height: 2.8rem;
    text-transform: uppercase;
    font-weight: 500;
    justify-self: flex-end;
  }

  &__value {
    grid-column: 5 / 11;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
  }

  &__button {
    grid-column: 2 / 12;

    // display: flex;
    // justify-content: flex-end;

    // @include respond(phone) {
    //   & > * {
    //     flex: 1;
    //   }
    // }
  }
}
