@use "../../../abstracts/colors" as *;

.profile {
  &__header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.6rem;

    &:after {
      margin-top: 3.2rem;
      height: 1px;
      grid-column: 1 / -1;
      display: block;
      content: '';
      background: $color-gray;
    }
  }

  &__identify {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    &:after {
      height: 13rem;
      width: 1px;
      background: $color-gray;
      margin-top: 2rem;
      display: block;
      content: '';
      position: absolute;
      right: -2rem;
    }
  }

  &__biography {
    grid-column: 5 / -1;
    grid-row: 1 / 2;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gold;

    & > *:last-child {
      margin-bottom: 0.2rem;
    }
  }

  &__rating-score {
    font-weight: 700;
  }

  &__name {
    font-size: 2.4rem;
    letter-spacing: 0.4px;
    font-weight: 700;
  }

  &__specialization {
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-primary;
    letter-spacing: 0.4px;
  }

  &__geoposition {
    color: $color-gray-dark-1;
  }

  &__map-marker {
    height: 1.6rem;
    margin-right: 0.4rem;
  }

  &__about {
    line-height: 2.4rem;
    letter-spacing: 0.1px;
  }

  &__star-profile {
    grid-row: 1 / 2;
    grid-column: 12 / 13;
    justify-self: end;
    align-self: start;
    position: relative;
  }

  &__cards {
    display: contents;

    &:after {
      margin-top: 2.4rem; // because of svg import
      height: 1px;
      grid-column: 1 / -1;
      display: block;
      content: '';
      background: $color-gray;
    }
  }

  &__reviews {
    display: contents;
  }

  &__noreview {
    grid-column: 3 / 11;
  }

  &__overall-review {
    grid-column: 1 / -1;
  }

  &__review-card {
    grid-column: 3 / 11;
  }
}
