@use '../../../abstracts/colors' as *;
@use '../../../abstracts/mixins' as *;

.profile {
  &__header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.6rem;
    margin-top: 2.4rem;

    &:after {
      margin-top: 3.2rem;
      height: 1px;
      grid-column: 1 / -1;
      display: block;
      content: '';
      background: $color-gray;

      @include respond(tab-port) {
        margin-top: 1.6rem;
      }
    }

    @include respond(tab-port) {
      margin-top: 1.6rem;
    }

    @include respond(phone) {
      grid-template-columns:
        1fr repeat(2, minmax(min-content, max-content)) 0.2fr repeat(
          4,
          minmax(min-content, max-content)
        )
        4fr;

      margin-top: 0rem;
      column-gap: 0.8rem;
    }
  }

  &__identify {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    &:after {
      height: 13rem;
      width: 1px;
      background: $color-gray;
      // margin-top: 2rem;
      margin-top: 0.8rem;
      display: block;
      content: '';
      position: absolute;
      right: -2rem;
    }

    @include respond(tab-port) {
      &:after {
        display: none;
      }
    }

    @include respond(phone) {
      grid-column: 1 / 5;
    }
  }

  &__biography {
    grid-column: 5 / -1;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(tab-port) {
      grid-column: 4 / -1;
      margin-left: 0.4rem;
    }

    @include respond(phone) {
      grid-column: 5 / -1;
      //
      justify-content: flex-start;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gold;
    margin-top: 1.6rem;

    & > *:last-child {
      margin-bottom: 0.2rem;
    }

    @include respond(phone) {
      margin-top: 0.8rem;
    }
  }

  &__rating-score {
    font-weight: 700;

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }

  &__name {
    font-size: 2.4rem;
    letter-spacing: 0.4px;
    font-weight: 700;
    margin-top: 0.8rem;

    @include respond(phone) {
      font-size: 2rem;
      //
      margin-top: 0.4rem;
    }
  }

  &__specialization {
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-primary;
    letter-spacing: 0.4px;
    margin-top: 0.8rem;

    @include respond(phone) {
      font-size: 1.6rem;
      margin-top: 0.4rem;
    }
  }

  &__geolocation {
    color: $color-gray-dark-1;
    //
    margin-top: 1.6rem;

    @include respond(phone) {
      font-size: 1.2rem;
      //
      margin-top: 0.8rem;
    }
  }

  &__map-marker {
    height: 1.6rem;
    margin-right: 0.8rem;
  }

  &__about {
    line-height: 2.4rem;
    letter-spacing: 0.1px;
    // margin-top: 1.6rem;
    margin-top: 2rem;
    grid-column: 1 / -1;

    @include respond(phone) {
      margin-top: 0.8rem;
      line-height: 2rem;
      font-size: 1.2rem;
      grid-column: 1 / -1;
    }
  }

  &__about-btn {
    margin-top: 2rem;
    align-self: flex-start;
    display: inline-block;
    padding: 0.8rem 2.4rem;
    border-width: 2px;
    font-weight: 500;
    font-family: inherit;

    @include respond(phone) {
      margin-top: 0.8rem;
      grid-column: 1 / -1;
    }
  }

  &__star-profile {
    grid-row: 1 / 2;
    grid-column: 12 / 13;
    justify-self: center;
    align-self: start;
    position: relative;

    @include respond(phone) {
      grid-column: -2 / -1;
      margin-top: 0.4rem;
      margin-right: 1.2rem;
      justify-self: flex-end;
    }
  }

  &__cards {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 2.4rem;
    padding-bottom: 2rem;
    overflow-x: auto;

    &:after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      display: block;
      content: '';
      background: $color-gray;
    }

    @include respond(tab-port) {
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      &::after {
        width: 77.4rem;
      }
    }

    @include respond(phone) {
      padding: 1.6rem 0;

      &::after {
        width: 55.6rem;
      }
    }
  }

  &__no-appointment {
    grid-column: 1 / 7;
    margin: 9rem 0;
    color: $color-gray;
    font-size: 2rem;
    justify-self: center;
    align-self: center;
    font-weight: 700;

    @include respond(phone) {
      grid-column: 1 / -1;
      margin: 8rem 0;
    }
  }

  &__sibling-appointment {
    grid-column: 1 / 7;
    margin-top: 2rem;
    align-self: center;
    margin: 3.2rem 0;
    margin-left: 1rem;

    @include respond(tab-port) {
      grid-column: 1 / 9;
      margin-left: 0;
    }

    @include respond(phone) {
      margin: 2.8rem 0;

      grid-column: 1 / -1;
    }
  }

  &__appointments-statistic {
    grid-column: 7 / -1;
    display: flex;
    justify-content: center;
    align-items: center;

    &--sibling-appointment {
      @include respond(tab-port) {
        grid-column: 9 / -1;
      }
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__reviews {
    display: contents;
  }

  &__noreview {
    grid-column: 3 / 11;

    @include respond(tab-port) {
      grid-column: 2 / 12;
    }

    @include respond(phone) {
      grid-column: 1 / -1;
    }
  }

  &__overall-review {
    grid-column: 1 / -1;
  }

  &__review-card {
    grid-column: 3 / 11;

    @include respond(tab-port) {
      grid-column: 1 / -1;
      width: 51.6rem;
      justify-self: center;
    }

    @include respond(phone) {
      width: auto;
      justify-self: stretch;
    }
  }

  &__edit {
    color: $color-gray-light-1;
    transition: 0.2s color;
    height: 1.6rem;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }

    @include respond(phone) {
      transform: translateY(15%);
    }
  }

  &__horizontal-line {
    background: $color-gray;
  }
}
